.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

html,
.App {
  /* height: 100%; */
  margin: 0;
  overflow: hidden;
}

.activation-form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.row {
  flex: 1;
  display: flex;
  margin: 0;
}
.chat-sidebar {
  width: 300px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  background-color: #ffffff;
}
.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.chat-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}

.toggle {
  z-index: 20;
  height: 100%;
}

.toggle svg {
  height: 100%;
  width: 100%;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

.cover {
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}

.cover.show {
  display: block;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e9ecef;
}
.chat-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
  position: relative;
}
.chat-message {
  margin-bottom: 10px;
}
.chat-message .message-text {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}
.chat-message.me .message-text {
  background-color: #007bff;
  color: #ffffff;
  text-align: right;
}
@media (max-width: 768px) {
  .chat-sidebar {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    height: 20%;
  }
  .chat-sidebar.show {
    display: block;
  }
}
